*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D7CEB2;
    text-align: center;
}
#head{
    color: black;
    font-size: 38px;
    padding-top:30px ;
  
}
.container{
    margin-top: 2rem;
    height: 70vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8vmin;
    height: 60vmin;
    width: 60vmin;
    /* background-color: aqua; */
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset{
    height: 5vmin;
    width: 15vmin;
    border-radius: 1vmin;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    border: none;
    margin-left: 90px;
}

.msg{
    color: #ffffc7;
    font-size: 8vmin;
}
#new-btn{
    height: 5vmin;
    width: 15vmin;
    border-radius: 1vmin;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    border: none;
    
}
.hide{
    display: none;
}